.popup {
	background-color: #BBBBBB;
	border: solid;
	border-width: 1px;
	border-color: #101010;
	display: none;
}

.closeButton {
	font-weight: bold;
	cursor: pointer;
}

.msgHead {
	border-width: 1px;
	border-style: solid;
	border-bottom-style: dotted;
	border-color: grey;
}

.msgBody {
	border-width: 1px;
	border-style: solid;
	border-top-style: none;
	border-color: grey;
}

.errorLabel {
	visibility: hidden;
	color: red;
}

#city-suggest {
	z-index: 1;
	position: absolute;
	background-color: white;
	border-color: grey;
	border-style: solid;
	padding: 3px;
	width: 153px;
}

.city-suggest-item:hover {
	background-color: #dddddd;
	cursor: pointer;
}